<h2>Create a New Post</h2>

<form class="" action="/posts/new" method="post" enctype="multipart/form-data">

  <label for="content">Content</label>
  <br>
  <input id="content" type="text" name="postContent">
  <br><br>

  <label for="image">Image</label>
  <br>
  <input id="image" type="file" name="postImage">
  <br><br>

  <label for="pic-name">Image Name</label>
  <br>
  <input id="pic-name" type="text" name="postName">
  <br><br>

  <button>Create Post</button>
</form>
