body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  color: white;
  background-color: rgb(245, 122, 122);
}

.success {
  color: black;
  background-color: rgb(105, 199, 93);
}
